@page
@{
    ViewData["Title"] = "Access denied";
}

@section IncludeHead {
    <link rel="stylesheet" href="/css/style.css">
}


<div class="container">

    <div class="row ">
        <div class="col-8 mx-auto d-block">
            <h2 class="text-center">Cette tentative d'accès non autorisée a été rhopsée.</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-8 mx-auto d-block">
            <img class="centrage1" src="/images/acces_interdit.jpg" alt="Accès interdit" width="600">
        </div>
    </div>
</div>