@page
@model Bargio.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "~/Pages/Shared/_LayoutNoNavbar.cshtml";
}


<header>
    <h1>@ViewData["Title"]</h1>
    <p>Vous êtes déconnecté. Redirection...</p>
</header>

<script type="text/javascript">
    window.setTimeout(function(){
        window.location.href = "../../pg";
    }, 1500);
</script>

