@page
@model Bargio.Areas.Identity.Pages.Account.Manage.SetPasswordModel
@{
    ViewData["Title"] = "Définir un mot de passe";
}

@section IncludeHead {
    <link rel="stylesheet" href="/css/style.css">
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <img class="centrage1" src="/images/logo179.png" alt="Logal Bargio_pic" width="179" height="179">
            <img class="centrage2" src="/images/title_logo106x20.png" alt="Logal Bargio_tag" width="106" height="20">
            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <h5 class="bloc-titre text-center">Définir mon mot de passe optionnel</h5>
                    <form class="btn-connexion" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="text-box1">
                            <input asp-for="Input.NewPassword" type="text" class="form-control" autofocus>
                            <label asp-for="Input.NewPassword"></label>
                        </div>

                        <div class="text-box1">
                            <input asp-for="Input.ConfirmPassword" type="text" class="form-control">
                            <label asp-for="Input.ConfirmPassword"></label>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Confirmer</button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>