@page
@model Bargio.Areas.User.Pages.BabasseModel

<!-- Modal pour panneau d'administration zifoys -->
<div class="modal fade" id="modal-zifoys" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-zifoys" role="document" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Interface ZiFoy's</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-body-zifoys">
                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Rechargement - bucquage manuel</h6>

                    <label class="control-label">Compte à recharger</label>
                    <input id="input-username-rechargement-manuel" class="form-control input-lg mb-3" placeholder="ex: 13li217">

                    <label class="control-label">Montant</label>
                    <div class="input-group mb-3">
                        <input id="input-montant-rechargement-manuel" class="form-control input-lg" type="number" placeholder="ex: -1.25">
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>

                    <label class="control-label">Motif</label>
                    <input id="input-commentaire-rechargement-manuel" class="form-control input-lg mb-3" value="bucquage manuel par zifoy'ss">

                    <label id="validation-rechargement-manuel text-danger" class="control-label"></label>

                    <button id="button-rechargement-manuel" type="button" class="btn btn-primary">Valider le bucquage</button>
                </div>
                <hr>

                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Gestion des comptes</h6>

                    <h6 style="margin-top:30px;"><i>Faire une mise hors babasse collective</i></h6>
                    <label class="control-label">Seuil</label>
                    <div class="input-group mb-3">
                        <input id="input-seuil-hors-babasse-manuelle" class="form-control input-lg" type="number" value="0">
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>

                    <button id="button-hors-babasse-manuelle" type="button" class="btn btn-primary">Mise hors babasse collective</button>

                    <h6 style="margin-top:30px;"><i>Remettre un compte en babasse</i></h6>
                    <input id="input-remettre-en-babasse" class="form-control input-lg mb-3" placeholder="ex: 13li217">

                    <button id="button-remettre-en-babasse" type="button" class="btn btn-primary">Remettre en babasse</button>

                    <h6 style="margin-top:30px;"><i>Mettre un compte hors babasse</i></h6>
                    <input id="input-mettre-hors-babasse" class="form-control input-lg mb-3" placeholder="ex: 9li217">

                    <button id="button-mettre-hors-babasse" type="button" class="btn btn-primary">Mettre hors babasse</button>

                    <h6 style="margin-top:30px;"><i>Remettre un compte en foy's</i></h6>
                    <input id="input-remettre-en-foys" class="form-control input-lg mb-3" placeholder="ex: 123li217">

                    <button id="button-remettre-en-foys" type="button" class="btn btn-primary">Remettre en foy's</button>

                    <h6 style="margin-top:30px;"><i>Mettre un compte hors foy's</i></h6>
                    <input id="input-mettre-hors-foys" class="form-control input-lg mb-3" placeholder="ex: 123li217">

                    <button id="button-mettre-hors-foys" type="button" class="btn btn-primary">Mettre hors foy's</button>
                </div>
                <hr>

                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Réglages mise hors babasse automatique</h6>
                    <h6 class="text-center" style="font-weight:100;">Cet ordi devra être allumé au moment de la mise hors babasse</h6>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-hors-babasse-auto">
                        <label class="form-check-label" for="checkbox-hors-babasse-auto">
                            Activer la mise hors babasse auto
                        </label>
                    </div>

                    <label class="control-label">Seuil</label>
                    <div class="input-group mb-3">
                        <input id="input-seuil-hors-babasse-auto" class="form-control input-lg" type="number" value="0">
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="radio-instantanee" type="radio" class="form-check-input" name="radio-type-hors-babasse">Instantanée
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="radio-periodique" type="radio" class="form-check-input" name="radio-type-hors-babasse">Périodique
                            </label>
                        </div>
                    </div>

                    <div id="hors-babasse-periodique">
                        <div id="periodicite-hors-babasse" class="mb-3 ml-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="radio-quotidienne" type="radio" class="form-check-input" name="radio-periodicite-hors-babasse">Quotidienne
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="radio-hebdomadaire" type="radio" class="form-check-input" name="radio-periodicite-hors-babasse">Hebdomadaire
                                </label>
                            </div>
                        </div>

                        <div class="input-group date" id="timepicker-hors-babasse-quotidienne" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#timepicker-hors-babasse-quotidienne" />
                            <div class="input-group-append" data-target="#timepicker-hors-babasse-quotidienne" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>

                        <div id="jours-hors-babasse-hebdomadaire" class="mt-3 mb-3 btn-group btn-group-toggle btn-group-sm" data-toggle="buttons" role="group">
                            <label class="btn btn-secondary" id="checkbox-hors-babasse-lundi" >
                                <input type="checkbox" name="jour-hors-babasse" autocomplete="off"> Lundi
                            </label>
                            <label class="btn btn-secondary" id="checkbox-hors-babasse-mardi">
                                <input type="checkbox" name="jour-hors-babasse" autocomplete="off"> Mardi
                            </label>
                            <label class="btn btn-secondary" id="checkbox-hors-babasse-mercredi">
                                <input type="checkbox" name="jour-hors-babasse" autocomplete="off"> Mercredi
                            </label>
                            <label class="btn btn-secondary" id="checkbox-hors-babasse-jeudi">
                                <input type="checkbox" name="jour-hors-babasse" autocomplete="off"> Jeudi
                            </label>
                            <label class="btn btn-secondary" id="checkbox-hors-babasse-vendredi">
                                <input type="checkbox" name="jour-hors-babasse" autocomplete="off"> Vendredi
                            </label>
                            <label class="btn btn-secondary" id="checkbox-hors-babasse-samedi">
                                <input type="checkbox" name="jour-hors-babasse" autocomplete="off"> Samedi
                            </label>
                            <label class="btn btn-secondary" id="checkbox-hors-babasse-dimanche">
                                <input type="checkbox" name="jour-hors-babasse" autocomplete="off"> Dimanche
                            </label>
                        </div>

                        <div class="input-group date" id="timepicker-hors-babasse-hebdomadaire" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#timepicker-hors-babasse-hebdomadaire" />
                            <div class="input-group-append" data-target="#timepicker-hors-babasse-hebdomadaire" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>
                    </div>
                    <button id="button-hors-babasse-auto" type="button" class="btn btn-primary mt-3">Valider les changements</button>
                </div>
                <hr>

                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Changer image hors babasse</h6>

                    <input type="file" class="form-control-file" id="input-file-hors-babasse">

                    <div class="card bloc-central my-2">
                        <div class="bloc-case bloc-case-rouge-test">
                            <p class="text-center text-white hbb">:(</p>
                            <p class="text-center text-white hbb">Tu es hors babasse.</p>
                        </div>
                    </div>

                    <button id="button-image-hors-babasse" type="button" class="btn btn-primary">Confirmer l'image</button>
                </div>
                <hr>

                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Changer mdp de ce compte zifoy's</h6>

                    <label class="control-label">Nom (inchangeable)</label>
                    <input class="form-control input-lg mb-3" value="admin" disabled>

                    <label class="control-label">Nouveau mot de passe</label>
                    <input type="password" id="input-mdp-zifoys" class="form-control input-lg mb-3">
                    <label class="control-label">Confirmer nouveau mot de passe</label>
                    <input type="password" id="input-mdp-zifoys-confirmer" class="form-control input-lg mb-3">

                    <button id="button-mdp-zifoys" type="button" class="btn btn-primary">Confirmer</button>
                </div>
                <hr>

                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Supprimer le mot de passe d'un compte</h6>

                    <label class="control-label">Compte</label>
                    <input id="input-username-reset-mdp" class="form-control input-lg mb-3" placeholder="ex: 13li217">

                    <button id="button-reset-mdp" type="button" class="btn btn-primary">Réinitialiser</button>
                </div>
                <hr>

                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Thème de Noël</h6>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-snow">
                        <label class="form-check-label" for="checkbox-snow">
                            Oh, il neige !
                        </label>
                    </div>

                    <button id="button-snow" type="button" class="btn btn-primary">Confirmer</button>
                </div>
                <hr>

                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Changer mot des zifoys / actualités</h6>

                    <label class="control-label">Mot des zifoy's</label>
                    <textarea class="form-control mb-3" cols="40" rows="5" id="textarea-mot-des-zifoys"></textarea>

                    <label class="control-label">Actualités</label>
                    <textarea class="form-control mb-3" cols="40" rows="5" id="textarea-actualites"></textarea>

                    <button id="button-mots-des-zifoys-actualites" type="button" class="btn btn-primary">Confirmer</button>
                </div>
                <hr>

                <div class="form-group">
                    <h6 class="text-center" style="margin-top:30px;">Télécharger les logs + l'historique local</h6>
                    <h6 class="text-center" style="font-weight:100;">En cas de problème...</h6>

                    <button id="button-telecharger-logs" type="button" class="btn btn-primary">Télécharger</button>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<!-- Modal message de confirmation -->
<div class="modal fade" id="modal-zifoys-validation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Interface ZiFoy's</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <label>Les changements ont été appliqués</label>
            </div>
        </div>
    </div>
</div>

<!-- Modal les 2 mdp ne correspondent pas -->
<div class="modal fade" id="modal-zifoys-mdp-validation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Interface ZiFoy's</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-danger">
                <label>/!\ Les mots de passe ne correspondent pas.</label>
            </div>
        </div>
    </div>
</div>