@page
@model Bargio.Areas.Admin.Pages.EditDatabase.ParametresSysteme.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<h4>SystemParameters</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SystemParameters.IpServeur" class="control-label"></label>
                <input asp-for="SystemParameters.IpServeur" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="SystemParameters.DerniereConnexionBabasse" class="control-label"></label>
                <input asp-for="SystemParameters.DerniereConnexionBabasse" class="form-control" disabled="disabled" />
                <span asp-validation-for="SystemParameters.DerniereConnexionBabasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemParameters.BucquagesBloques" class="control-label"></label>
                <input asp-for="SystemParameters.BucquagesBloques" class="form-control" />
                <span asp-validation-for="SystemParameters.BucquagesBloques" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemParameters.LydiaBloque" class="control-label"></label>
                <input asp-for="SystemParameters.LydiaBloque" class="form-control" />
                <span asp-validation-for="SystemParameters.LydiaBloque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
