<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore requestTimeout="24:00:00" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" />
    </system.webServer>
  </location>
</configuration>