/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #D2D2D2;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background-color: #1EEEEE;

}

.bloc-central {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

.bloc-central .bloc-titre {
  margin-bottom: rem;
  font-weight: 300;
}

.bloc-central .bloc-case {
  padding: 2rem;
}

.btn-connexion {
  width: 100%;
}

.btn-connexion .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  margin-top: 1rem;
}

.text-box1 {
  position: relative;
  margin-bottom: 1rem;
}

.text-box1 input {
  border-radius: 2rem;
}

.text-box1>input,
.text-box1>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.text-box1>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.text-box1 input::-webkit-input-placeholder {
  color: transparent;
}

.text-box1 input:-ms-input-placeholder {
  color: transparent;
}

.text-box1 input::-ms-input-placeholder {
  color: transparent;
}

.text-box1 input::-moz-placeholder {
  color: transparent;
}

.text-box1 input::placeholder {
  color: transparent;
}

.text-box1 input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.text-box1 input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

img.centrage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

img.centrage2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    
}

.placement {
    margin-top: 1rem;
    margin-left: 1rem;
}

.paragraphe {
    font-weight: 300;
    font-size: 1.2rem;
}