@page
@model Bargio.Areas.User.Pages.ChangerSurnomModel

@{
    ViewData["Title"] = "Changer de surnom";
}

@section IncludeHead {
    <environment names="Development">
        <link rel="stylesheet" href="/css/style.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/style.min.css">
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <img class="centrage1 d-none d-sm-block" src="/images/logo179.png" alt="Logal Bargio_pic" width="179" height="179">
            <img class="centrage2 d-none d-sm-block" src="/images/title_logo106x20.png" alt="Logal Bargio_tag" width="106" height="20">
            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <h5 class="bloc-titre text-center">Changer mon surnom</h5>
                    <form class="btn-connexion" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <p class="bloc-titre text-center text-info">Surnom actuel: @Model.AncienSurnom</p>
                        <div class="text-box1">
                            <input asp-for="NouveauSurnom" type="text" class="form-control" autofocus>
                            <label asp-for="NouveauSurnom"></label>
                        </div>

                        <button class="btn btn-lg btn-primary bg-success btn-block text-uppercase" type="submit">Confirmer</button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $("#navbar-surnom").addClass("active");
    </script>
}