@page

@inject SignInManager<IdentityUserDefaultPwd> SignInManager
@inject UserManager<IdentityUserDefaultPwd> UserManager

@model Bargio.Areas.User.Pages.DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

@section IncludeHead {
    <link rel="stylesheet" href="/css/style.css">
}

<h2>@UserManager.GetUserName(User)</h2>
<ul>
    <li><a asp-page="/Account/Logout" asp-area="Identity">Déconnexion</a></li>
    <li><a asp-page="/Account/Manage/SetPassword" asp-area="Identity">Définir son mot de passe</a></li>
    <li><a asp-page="/Account/Manage/ChangePassword" asp-area="Identity">Modifier son mot de passe</a></li>
    <li><a asp-page="/Rechargement" asp-area="User">Recharger son compte</a></li>
    <li><a asp-page="/EditDatabase/Utilisateurs/Index" asp-area="Admin">[ADMIN] Modifier BDD Utilisateurs</a></li>
    <li><a asp-page="/EditDatabase/DemandesPaiement/Index" asp-area="Admin">[ADMIN] Modifier BDD Demandes Paiement</a></li>
    <li><a asp-page="/EditDatabase/HistoriqueTransactions/Index" asp-area="Admin">[ADMIN] Modifier BDD Historique Transactions</a></li>
</ul>