@page
@model Bargio.Areas.User.Pages.HistoriqueModel

@{
    ViewData["Title"] = "Historique détaillé";
}

@section IncludeHead {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/css/style.css">
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-9 ">
            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center titre-stats">Combien j'ai consommé</p>
                    <br />
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="radio-conso-soiree" type="radio" class="form-check-input" name="radio-temps-consommation">Sur une soirée
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="radio-conso-mois" type="radio" class="form-check-input" name="radio-temps-consommation">Sur un mois
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="radio-conso-annee" type="radio" class="form-check-input" name="radio-temps-consommation">Sur une an's
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="radio-conso-tout" type="radio" class="form-check-input" name="radio-temps-consommation" checked>Depuis toujours
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <br />
                            <div id="choix-date">
                                <div class="input-group date" id="timepicker-conso" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#timepicker-conso" />
                                    <div class="input-group-append" data-target="#timepicker-conso" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="text-center solde-accueil">13,00€</p>
                    <br />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-9">
            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center titre-stats">Courbe d'alcoolisme</p>
                    <br />
                    <canvas id="conso-chart" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9 col-sm-9">
            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <p class="bloc-titre text-center titre-stats">Historique complet des consos</p>
                    <br />
                    <div id="table-consos-total">
                        <table class="table-consos-total-datatable display nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Bucquage
                                    </th>
                                    <th>
                                        Montant
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
    
    <script type="text/javascript">
        var transactions = @Html.Raw(Json.Serialize(Model.Transactions));
    </script>

    <script src="/js/statistiques.js"></script>
}