@page

@inject SignInManager<IdentityUserDefaultPwd> SignInManager
@inject UserManager<IdentityUserDefaultPwd> UserManager

@model Bargio.Areas.User.Pages.QuicknavModel

@{
    ViewData["Title"] = "Navigation rapide";
    Layout = "~/Pages/Shared/_LayoutNoNavbar.cshtml";
}

<h2>@UserManager.GetUserName(User)</h2>
<br />
<h3>Page temporaire dégueulasse pour naviguer rapidement</h3>
<br />
<br />

<ul>
    <li><a asp-page="/Account/Logout" asp-area="Identity">Déconnexion</a></li>
    <li><a asp-page="/Babasse" asp-area="User">Afficher la page de babasse</a></li>
    <li><a asp-page="/Account/Manage/SetPassword" asp-area="Identity">Définir son mot de passe</a></li>
    <li><a asp-page="/Account/Manage/ChangePassword" asp-area="Identity">Modifier son mot de passe</a></li>
    <li><a asp-page="/Rechargement" asp-area="User">Recharger son compte</a></li>
    <li><a asp-page="/EditDatabase/Utilisateurs/Index" asp-area="Admin">[ADMIN] Modifier BDD Utilisateurs</a></li>
    <li><a asp-page="/EditDatabase/DemandesPaiement/Index" asp-area="Admin">[ADMIN] Modifier BDD Demandes Paiement</a></li>
    <li><a asp-page="/EditDatabase/HistoriqueTransactions/Index" asp-area="Admin">[ADMIN] Modifier BDD Historique Transactions</a></li>
    <li><a asp-page="/EditDatabase/RaccourcisProms/Index" asp-area="Admin">[ADMIN] Modifier BDD Touches de raccourcis des prom's</a></li>
    <li><a asp-page="/EditDatabase/Consommations/Index" asp-area="Admin">[ADMIN] Modifier BDD Consos</a></li>
    <li><a asp-page="/EditDatabase/ParametresSysteme/Index" asp-area="Admin">[ADMIN] Modifier paramètres système</a></li>
    <li><a asp-page="/ImportDatabase" asp-area="Admin">[ADMIN] Importer BDD de l'ancien logiciel</a></li>
</ul>