@page

@inject SignInManager<IdentityUserDefaultPwd> SignInManager
@inject UserManager<IdentityUserDefaultPwd> UserManager

@model Bargio.Areas.User.Pages.RechargementModel

@{
    ViewData["Title"] = "Recharger son compte";
}

@section IncludeHead {
    <environment names="Development">
        <link rel="stylesheet" href="/css/style.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/style.min.css">
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <img class="centrage1 d-none d-sm-block" src="/images/logo179.png" alt="Logal Bargio_pic" width="179" height="179">
            <img class="centrage2 d-none d-sm-block" src="/images/title_logo106x20.png" alt="Logal Bargio_tag" width="106" height="20">
            <div class="card bloc-central my-2">
                <div class="bloc-case">
                    <h5 class="bloc-titre text-center">Recharger mon compte</h5>
                    <p class="text-center @Model.ClasseTexteStatut">@Model.StatutPaiement<br /></p>
                    <p class="bloc-titre text-center text-info">Solde actuel: @Model.SoldeActuel €</p>
                    <form id="lydiaForm" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="CommissionLydiaVariable" id="commission-lydia-variable"/>
                        <input type="hidden" asp-for="CommissionLydiaFixe" id="commission-lydia-fixe" />
                        <input type="hidden" asp-for="MinimumRechargementLydia" id="minimum-rechargement-lydia" />
                        <div class="form-group text-box1">
                            <input class="form-control rechargement-input" asp-for="Telephone" type="text" autofocus>
                            <label asp-for="Telephone"></label>
                        </div>


                        <div class="form-group text-box1">
                            <input class="form-control rechargement-input" id="montant-rechargement" asp-for="Montant" type="text">
                            <label asp-for="Montant"></label><br>
                        </div>
                        <p class="text-info text-center" id="montant-avec-commission"></p>

                        <a id="lydia-button" href="javascript:{}" onclick="document.getElementById('lydiaForm').submit();">
                            <img class="full-width" src="https://homologation.lydia-app.com/assets/img/paymentbutton.png" />
                        </a>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $("#navbar-rechargement").addClass("active");

        $("#montant-rechargement").on("change", function () {
            var commission_fixe = parseFloat($("#commission-lydia-fixe").val().replace(",", "."));
            var commission_variable = parseFloat($("#commission-lydia-variable").val().replace(",", ".")) / 100;
            var minimum_rechargement = parseFloat($("#minimum-rechargement-lydia").val().replace(",", "."));

            console.log(minimum_rechargement);
            var montant = Math.round(parseFloat($("#montant-rechargement").val()) * 100) / 100;

            if (montant.isNaN || montant < minimum_rechargement) {
                $("#montant-avec-commission").text("Minimum de rechargement : " + minimum_rechargement + "€");
            } else {
                var montant_avec_commission = (montant + commission_fixe) / (1 - commission_variable);
                $("#montant-avec-commission").text("Avec la commission Lydia, tu paieras " + montant_avec_commission.toFixed(2) + "€.");
            }
        });

        $('.rechargement-input').keypress(function (e) {
            if (e.keyCode === 13)
                $('#lydia-button').click();
        });
    </script>
}