nav {
    height: 50px;
}

.nav-item {
    border-bottom: grey solid 2px;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-item.active {
    border-bottom: forestgreen solid 2px;
}

#logo-navbar {
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background-color: white;

}

.bloc-central {
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 3rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.bloc-footer {
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bloc-central .bloc-titre {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 300;
}

.bloc-central .bloc-case {
  padding: 2rem;
}

.bloc-case-rouge {
  background: repeating-linear-gradient(
   45deg,
   darkred,
   darkred 10px,
   firebrick 10px,
   firebrick 20px
  );
  color: white;
}


.btn-connexion {
  width: 100%;
}

.btn-connexion .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  margin-top: 1rem;
}

.text-box1 {
  position: relative;
  margin-bottom: 0rem;
}

.text-box1 input {
  border-radius: 2rem;
}

.text-box1>input,
.text-box1>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.text-box1>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.text-box1 input::-webkit-input-placeholder {
  color: transparent;
}

.text-box1 input:-ms-input-placeholder {
  color: transparent;
}

.text-box1 input::-ms-input-placeholder {
  color: transparent;
}

.text-box1 input::-moz-placeholder {
  color: transparent;
}

.text-box1 input::placeholder {
  color: transparent;
}

.text-box1 input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.text-box1 input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

img.centrage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

img.centrage2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    
}

.placement {
    margin-top: 1rem;
    margin-left: 1rem;
}

.paragraphe {
    font-weight: 300;
    font-size: 0.8rem;
}

.solde {
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 0rem;
}

.encours {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: lighter;
    font-size: 1rem;
}

.surnom {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 200;
  font-size: 0.7rem;
}

.list-header {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  text-align: center;
}

#scroll-tarifs {
  display: block;
  max-height: 680px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll-historique {
  display: block;
  max-height: 680px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.clickable-tr {
  cursor: pointer;
}

.clickable-tr:hover {
  background-color: lightgray;
}

#ui-chargement {
  text-align: center;
}
