input:not([type="button"]) {
    height: 25px;
    font-size: 14px;
    line-height: 14px;
    margin-left: 15px;
    margin-right: 15px;
}

label {
    font-size: 14px;
    margin-bottom: -5px;
}

form {
    text-align: center;
    display: inline-block;
}

.dl-horizontal {
    margin-left: 20px;
}

h2, h4, a {
    margin-left: 25px;
    text-align: center;
    display: inline;
}

h4 {
    display: none;
}

tr {
    line-height: 10px;
    min-height: 10px;
    height: 10px;
}

input[type="checkbox"] {
    line-height: normal;
    margin-top: -15px;
}

.logo-bargio-admin {
    margin-bottom: 25px;
    text-align: center;
}

hr {
    margin: 0;
    margin-top: -10px;
}