html { height: 100%; }

html body {
    height: 100%;
    overflow: hidden;
}

html body .body-content {
    bottom: 30px;
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 50px;
}

nav { height: 50px; }

.nav-item {
    border-bottom: gainsboro solid 2px;
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item.active { border-bottom: forestgreen solid 2px; }

#logo-navbar { margin-bottom: 7px; }

.info-navbar {
    left: 2rem;
    position: fixed;
    text-align: center;
    top: 0.7rem;
    width: 100%;
}

.navbar-collapse { z-index: 1000; }

.navbar-toggler {
    position: absolute;
    right: 5px;
    z-index: 1000;
}

.footer-navbar {
    background-color: whitesmoke;
    bottom: 0;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 40px;
    left: 0;
    line-height: 40px; /* Vertically center the text there */
    position: absolute;
    right: 0;
}

.lien-footer {
    color: inherit;
    outline: inherit;
    text-decoration: none;
}