:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
    background-color: white;
    overflow: hidden;
}

.numss-accueil {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 200;
    font-size: 2rem;
}

.surnom-accueil {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 200;
}

.solde-accueil {
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: -10px;
}

.rechargement {
    margin-bottom: 0rem;
    font-weight: 300;
    font-size: 1.8rem;
}

.bg-rechargement {
    background: repeating-linear-gradient( 45deg, #1e8f39, #1e8f39 10px, #229d3f 10px, #229d3f 20px );
}

a.bloc-case {
    color: inherit;
    text-decoration: none;
    outline: inherit;
}

.titre {
    font-weight: 300;
    font-size: 1.2rem;
}

.dernier-bucquage {
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1.5rem;
}
.dernier-bucquage-date {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: 1rem;
}

.bloc-central {
  border: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

.bloc-central .bloc-titre {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1rem;
}

.bloc-central .bloc-case {
  padding: 2rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.btn-primary:active {
    background-color: #1e8f39 !important;
}

.btn-primary:focus,
.btn-primary:active,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: rgb(133, 214, 135) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(186, 232, 186) !important;
    outline: 0 none;
}

.btn-connexion {
  width: 100%;
}

.btn-connexion .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  margin-top: 1rem;
}

.full-width {
    width: 100%;
}

.margin-top {
    margin-top: 145px;
}

.text-box1 {
  position: relative;
  margin-bottom: 1rem;
}

.text-box1 input {
  border-radius: 2rem;
}

.text-box1>input,
.text-box1>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.text-box1>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.text-box1 input::-webkit-input-placeholder {
  color: transparent;
}

.text-box1 input:-ms-input-placeholder {
  color: transparent;
}

.text-box1 input::-ms-input-placeholder {
  color: transparent;
}

.text-box1 input::-moz-placeholder {
  color: transparent;
}

.text-box1 input::placeholder {
  color: transparent;
}

.text-box1 input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.text-box1 input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

img.centrage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

img.centrage2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

table {
    width: 100% !important;
}

.dataTables_scrollHeadInner{
    width:100% !important;
}

.dataTables_scrollHeadInner table{
    width:100% !important;
}

.titre-stats {
    font-size: 1.3rem !important;
}