@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row ">
        <div class="col-8 mx-auto d-block">
            <h2 class="text-center">@Model.ErrorMessage</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-8 mx-auto d-block">
            <img class="centrage1" src="/images/acces_interdit.jpg" alt="Accès interdit" width="600">
        </div>
    </div>
</div>