@{
    Layout = "~/Pages/Shared/_LayoutNoNavbar.cshtml";
}

@section IncludeHead {
    <environment names="Development">
        <link rel="stylesheet" href="/css/editdatabase.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/editdatabase.min.css">
    </environment>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/sl-1.2.6/datatables.min.css">
    @RenderSection("IncludeHead", false)
}

<div class="jumbotron">
    <img class="logo-bargio-admin" src="/images/logo_admin255.png" height="50px" alt="Logal Bargio"/>

    @RenderBody()

    <p>
        <a asp-area="Admin" asp-page="/Dashboard">Revenir vers l'accueil</a>
    </p>
</div>


@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/dt/dt-1.10.18/sl-1.2.6/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.table').DataTable();
        });
    </script>
    @RenderSection("Scripts", false)
}