@page
@model Bargio.Areas.Admin.Pages.EditDatabase.Consommations.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id"/>
            <div class="form-group">
                <label asp-for="Product.Nom" class="control-label"></label>
                <input asp-for="Product.Nom" class="form-control"/>
                <span asp-validation-for="Product.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Prix" class="control-label"></label>
                <input asp-for="Product.Prix" class="form-control"/>
                <span asp-validation-for="Product.Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.RaccourciClavier" class="control-label"></label>
                <input asp-for="Product.RaccourciClavier" class="form-control"/>
                <span asp-validation-for="Product.RaccourciClavier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}